h1 sök efter en frukt 

form action="/fruits" method="get"
    input name="q" placeholder="Sök på frukt" type = "text"
    input type="submit" value="Sök"/


h1 all fruits 

- @dataflutt.each do |fruit| 
    h2
        a href="/fruits/#{fruit["id"]}/edit" #{fruit["name"]}

    p There are #{fruit["amount"]}st

    form action="/fruits/#{fruit["id"]}/delete" method="post"
        input type="submit" value="🔥delete"

    hr

 

        